{{ if eq .chezmoi.os "darwin" }}

tap "homebrew/bundle"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/services"
tap "koekeishiya/formulae"

{{ end }}

brew "bat"
brew "eza"
brew "fzf"
brew "gh"
brew "neofetch"
brew "sheldon"
brew "starship" 
brew "tree"

{{ if eq .chezmoi.os "darwin" }}

brew "chezmoi" # macのみ
brew "cloudflared" # macのみ
brew "git" # macのみ
brew "gnupg" # macのみ
brew "hydra" # macのみ
brew "pinentry-mac" # macのみ
brew "rtx" # macのみ
brew "skhd" # macのみ
brew "yabai" # macのみ

cask "alacritty" 
cask "arc"
cask "canva"
cask "discord"
cask "figma"
cask "flutter"
cask "font-jetbrains-mono-nerd-font"
cask "ghidra"
cask "gpg-suite"
cask "karabiner-elements"
cask "keybase"
cask "notion"
cask "orbstack"
cask "raycast"
cask "typora"
cask "visual-studio-code"

vscode "amazonwebservices.codewhisperer-for-command-line-companion"
vscode "eamodio.gitlens"
vscode "GitHub.copilot"
vscode "GitHub.copilot-chat"
vscode "GitHub.github-vscode-theme"
vscode "LeonardSSH.vscord"
vscode "ms-azuretools.vscode-docker"
vscode "MS-CEINTL.vscode-language-pack-ja"
vscode "ms-toolsai.jupyter-keymap"
vscode "ms-vscode-remote.remote-containers"
vscode "ms-vscode-remote.remote-ssh"
vscode "ms-vscode-remote.remote-ssh-edit"
vscode "ms-vscode.remote-explorer"
vscode "ms-vscode.remote-server"
vscode "oderwat.indent-rainbow"
vscode "PKief.material-icon-theme"
vscode "rust-lang.rust-analyzer"
vscode "seatonjiang.gitmoji-vscode"
vscode "tamasfe.even-better-toml"

{{ end }}