tap "homebrew/bundle"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/services"
tap "koekeishiya/formulae"

brew "bat"
brew "chezmoi"
brew "cloudflared"
brew "cocoapods"
brew "eza"
brew "fzf"
brew "gh"
brew "git"
brew "gnupg"
brew "hydra"
brew "neofetch"
brew "pinentry-mac"
brew "rtx"
brew "sheldon"
brew "starship"
brew "tree"
brew "skhd"
brew "yabai"
cask "alacritty"
cask "arc"
cask "canva"
cask "discord"
cask "figma"
cask "flutter"
cask "font-jetbrains-mono-nerd-font"
cask "ghidra"
cask "gpg-suite"
cask "karabiner-elements"
cask "keybase"
cask "notion"
cask "orbstack"
cask "raycast"
cask "typora"
cask "visual-studio-code"

vscode "amazonwebservices.codewhisperer-for-command-line-companion"
vscode "eamodio.gitlens"
vscode "GitHub.copilot"
vscode "GitHub.copilot-chat"
vscode "GitHub.github-vscode-theme"
vscode "LeonardSSH.vscord"
vscode "ms-azuretools.vscode-docker"
vscode "MS-CEINTL.vscode-language-pack-ja"
vscode "ms-toolsai.jupyter-keymap"
vscode "ms-vscode-remote.remote-containers"
vscode "ms-vscode-remote.remote-ssh"
vscode "ms-vscode-remote.remote-ssh-edit"
vscode "ms-vscode.remote-explorer"
vscode "ms-vscode.remote-server"
vscode "oderwat.indent-rainbow"
vscode "PKief.material-icon-theme"
vscode "rust-lang.rust-analyzer"
vscode "seatonjiang.gitmoji-vscode"
vscode "tamasfe.even-better-toml"
